@mixin flex-column-start {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
  }
  @mixin flex-row-start {
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    
    }

@mixin flex-row-center{
    display: flex;
    flex-direction: row;
    align-items:center;
     
}
@mixin flex-column-center{
  display: flex;
  flex-direction: column;
  align-items:center;
  }
  
  @mixin nav-link {
display: flex;
flex-direction:center;
align-items:center;
i {
  margin-right: 10px; 
}
margin-bottom: 7.07%;
}
  

@mixin flex-aic-jcc{
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-aic-jcfs{
  display: flex;
  align-items: self-start;
  justify-content: flex-start;
}
@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}



@mixin title-restaurant {

  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 25px;
  width: 100%;
  max-width: 1060px;
  text-align: left;

}
  

@mixin padding-large($left: 180px, $right: 180px) {
  padding-left: $left;
  padding-right: $right;
}