// Couleurs
$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$background: #F3F3F3;
$text: #101010;

$grey2: #353535;
$footer-text: #FFFFFF;

$location-bg: #EAEAEA;
$menu-button-bg: #FFFFFF;


$button-gradient: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
$button-hover: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
$like-button-default: #101010;
$like-button-hover: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);

// Polices
$font-logo-titles: 'Shrikhand', cursive;
$font-text: 'Roboto', sans-serif;

// Font Size
$font-size-logo-titles: 3rem;
$font-size-text: 1rem;
$fs-footer-logo:18px;